#col2 {
    height: 100%;
    background-image: url(../static/images/campo_futbol.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

#menu-span{
  pointer-events: none;
}

#jug_foto {
  width: 7.5vh;
  height: 8vh;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  #jug_foto{
    width: 9.5vh;
    height: 10vh;
    border-radius: 50%;
  }

  body {
    background-size: cover;
  }
  
}

@media (max-width: 767px) {
  #jug_foto{
    width: 4.5vh;
    height: 5vh;
    border-radius: 50%;
  }
    
  body{
    background-size: auto;
  }
}
  

body {
  background-image: url('../static/images/home.jpg');
  background-repeat: no-repeat;
}

